<!DOCTYPE html>
<html>
  <head>
    <title>ShOut</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/lstyle.css">

  </head>
  <body >
    <div class="card carding" >
      <h1 class="card-title heading" ><i>ShOut</i></h1>
    <div class="card cardone centered" style="width:20%;">
    <form  action="/one" method="post">

      <h4>Join another chat with the link:-</h4>
    <input type="text" name="url">

    <button class="btn btn-primary"type="submit" name="button">Join</button>
    </form>

    <form  action="/three" method="post">
      <h4>Please enter your name and join this chat:-</h4>
    <input type="text" name="user" required>

    <button class="btn btn-primary"type="submit" name="button">OK</button>
    </form>
  </div>
  </div>
  </body>


</html>
